<!DOCTYPE html>
<html>
<head>
	<title>SECOND TITLE</title>

</head>

<body>
<ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['campus'] %></li>
    <% end %>
  </ul>
</body>
</html>