<!DOCTYPE html>
<html>
<head>
	<title>New Campuses</title>
</head>
<body>
<form action="/campuses" method="POST">
    <input type="text" name="cities" placeholder="City">
    <input type="text" name="capacity" placeholder="Capacity">
    <button type="submit">Save</button>
  </form>
</body>
</html>